.container {
  perspective: 400px;
  max-width: 100;
  position: relative;
  
}

.cube {
  width: 200px;
  height: 200px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transform-style: preserve-3d;
}

.side {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgb(255, 74, 74);
  opacity: 0.6;
  display: grid;
  place-content: center;
}

.front {
  transform: rotateY(0deg) translateZ(100px);
  background-color: #ff5d5d;
}

.right {
  transform: rotateY(90deg) translateZ(100px);
  background-color: #edd05f;
}

.back {
  transform: rotateY(180deg) translateZ(100px);
  background-color: #ff5f94;
}

.left {
  transform: rotateY(-90deg) translateZ(100px);
  background-color: #a078fc;
}

.top {
  transform: rotateX(90deg) translateZ(100px);
  background-color: #69c3ff;
}

.bottom {
  transform: rotateX(-90deg) translateZ(100px);
  background-color: #75fac5;
}


@media screen and (max-width: 600px) {
  .bio-container {
    min-height: 100vh;
  }


  .work-exp {
    /* position: sticky; */
    background-color: #dbdbdb;
    margin: 20px 20px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding: 20px 20px;
    overflow: hidden;
    height: 190px;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    /* width: 0px; */
  }
}

.-sticky-class {
  /* height: ; */
  /* position: sticky; */
  /* top: 50%; */
  /* height: 00px; */
  /* background: #000; */
  /* border: 2px solid red; */
}

@media screen and (min-width: 600px) {
  .-sticky-class {
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
  }

  .work-exp {
    /* border: 1px solid; */
    /* background-color: #ffffff; */
    margin: 20px 20px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding: 20px 20px;
    overflow: hidden;
    height: 100px;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    /* width: 0px; */
  }
}


.light-title-work {
  z-index: 99999;
  margin-top: 19px;
  font-size: 19.9px;
  font-family: Courier;
  letter-spacing: 3px;
  text-transform: uppercase;
  font-weight: 600;
  display: flex;
  color: #3c3c3c;
  /* background-color: #69c3ff; */
  text-shadow: 0px 2px 2px rgb(188, 187, 187);
  align-items: center;
  justify-content: center;

}

.cube-content-text {
  font-size: 30px;
  color: white;
}