
  
  code {
    font-family: input-mono, monospace;
    font-weight: 100;
    font-style: normal;
  }
  
  ::-webkit-scrollbar {
    height: 12px;
    width: 5px;
    background: var(--background);
  }
  
  ::-webkit-scrollbar-thumb {
    background: var(--accent);
    -webkit-border-radius: 1ex;
  }
  
  ::-webkit-scrollbar-corner {
    background: var(--background);
  }
  
  .container-ani {
    height: 100%;
    width: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    pointer-events: none; /* Ensures that the container doesn't intercept mouse events */
    /* background: url('path/to/your/watermark-image.png') repeat; Set your watermark image and repeat as needed */
    opacity: 0.2; /* Adjust the opacity to make it a watermark */
  }
  
  canvas {
    image-rendering: -moz-crisp-edges;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: pixelated;
    image-rendering: optimize-contrast;
  }
  
  
@media screen and (max-width: 600px) {
  .scroll-ani-div{
    position: absolute;
    /* border: 1px solid red; */
    min-height: 300vh;
    min-width: 100%;
    max-width: 100%;
    opacity: .6;
  }
  }
  
  
@media screen and (min-width: 600px) {
  .scroll-ani-div{
    position: absolute;
    /* border: 1px solid red; */
    height: 500vh;
    min-width: 1200px;
    max-width: 1200px;
    opacity: .6;
  }
  }
  