/* import '@fontsource/roboto/300.css';
import '@fontsource/roboto/400.css';
import '@fontsource/roboto/500.css';
import '@fontsource/roboto/700.css'; */

body {
  font-family: Gabriola, Times, serif;
}

/* .portfolio-title */
.bio-container {
  position: relative;
  /* height: 100vh; */
  height: auto;
  width: 100vh;
  border-top: 1px solid gray;
  /* box-shadow: 0px -5px 15px rgba(0, 0, 0, 0.35); Horizontal offset: 0, Vertical offset: -5px (negative to move it up), Blur radius: 15px */
}

.background-div-bio {
  font-size: 24px;

}

.title-div {
  width: 80%;

  margin: auto;
  height: 200px;
  line-height: 100px;
  /* line-height-step: 0px; */
}

.title {
  z-index: 9999;
  /* position:absolute; */
  /* margin-top: 10px; */
  /* padding-top: 2rem; */
  padding: 0;
  font-weight: 100;
  font-family: Gabriola, Times, serif;
  font-size: 8rem;
  /* border: 2px solid red; */
}

.title2 {
  margin: 0;
  padding: 0;
  font-weight: 100;
  font-family: Gabriola, Times, serif;
  font-size: 8rem;
}

.portfolio-title {
  font-size: 17.9px;
  font-family: Courier;
  letter-spacing: 3px;
  text-transform: uppercase;
  font-weight: 500;


}

.portfolio-title-email {
  font-size: 17.9px;
  cursor: pointer;
  font-family: Courier;
  letter-spacing: 3px;
  text-transform: uppercase;
  font-weight: 500;
  margin-top: 10px;
  display: inline-block;
  /* Convert to inline-block */
}

.portfolio-title-email::after {
  content: '';
  /* Create a pseudo-element */
  display: block;
  width: 100%;
  border-bottom: 1.5px solid;
  /* Add underline */
  margin-top: 10px;
  /* Adjust the gap between text and underline */
}

@media screen and (max-width: 600px) {
  .portfolio-title-email {
    font-size: 17.9px;
    cursor: pointer;
    font-family: Courier;
    color: white !important;
    letter-spacing: 3px;
    text-transform: uppercase;
    /* color: rgba(0, 114, 236, 0.87) !important; */
    font-weight: 500;
    margin-top: 10px;
    display: inline-block;
    /* Convert to inline-block */
  }
  .portfolio-title {
    font-size: 17.9px;
    font-family: Courier;
    letter-spacing: 3px;
    text-transform: uppercase;
    font-weight: 500;
    max-width: 50%;
    color: white;
  
  
  }
  .main-title-div-for-d {
    padding-top: 3rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    /* border: 2px solid red; */
  }
  .email-me-section{
    /* border: 1px solid; */
    margin-top: 15rem !important;
    background-color: rgb(119 119 119 / 80%) !important;
  }

  .box {
    margin: auto;
    position: absolute;
    z-index: 0;
    width: 150px;
    background-color: rgb(43 43 43 /17%) !important;
    height: 150px;
  }
  .title {
    z-index: 9999;
    color: white;
    padding: 0;
    font-weight: 100;
    font-family: Gabriola, Times, serif;
    font-size: 6rem;
    /* border: 2px solid red; */
  }
  .bio-img {
    margin-top: 0rem;
    max-height: 65vh  !important;
    min-width: 40vh  !important;
    margin: auto;
    min-height: auto;
    width: auto;
  
  }
  
.img-fit-div-bio {
  /* border: 2px solid red; */
  margin: auto;
  display: flex;
  justify-content: center;
}

  
}

.main-title-div-for-d {
  padding-top: 3rem;
  height: 75%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  /* border: 2px solid red; */
}

.content-div {
  margin-top: -15rem;
}



.main-img {

  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;

}

.light-title {
  font-size: 19.9px;
  font-family: Courier;
  letter-spacing: 3px;
  text-transform: uppercase;
  font-weight: 600;
  margin-top: 4rem;
  display: inline-block;
}

.bio-title {
  font-size: 60px;
  font-weight: 400;
  line-height: 40px;
}

.bio-img {
  margin-top: 0rem;
  max-height: 65vh;
  min-height: auto;
  width: auto;

}

.bio-paragraph {
  font-size: 30px;
  /* font-family: 'Courier New', Courier, monospace; */
}

.image-circle {
  background-color: #ceeafa;
}

.image-circle-work {
  background-color: #ceeafa;
  width: auto;
  max-width: 550px;
  /* margin: auto; */
}

.shadow-on-img {
  border-radius: 15px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

.box {
  margin: auto;
  position: absolute;
  z-index: 0;
  width: 150px;
  background-color: rgb(253, 243, 243);
  height: 150px;
}