/* import '@fontsource/roboto/300.css';
import '@fontsource/roboto/400.css';
import '@fontsource/roboto/500.css';
import '@fontsource/roboto/700.css'; */

body {
  font-family: Gabriola, Times, serif;
  margin: 0px;
  padding: 0px;
  /* background-color: rgb(255, 255, 255); */
}

.App {
  overflow: hidden;
}

/* .portfolio-title */
.bio-container {
  position: relative;
  height: auto;
  width: 100vh;
  background-color: rgba(255, 255, 255, 0.1);
  border-top: 1px solid gray;
  /* background-color: #ffffee; Semi-transparent white background */
  /* backdrop-filter: blur(1px); Applies a blur effect */
  /* box-shadow: 0px -5px 15px rgba(174, 171, 171, 0.648); */
}

.background-div-bio {
  font-size: 24px;

}

.title-div {
  width: 80%;

  margin: auto;
  height: 200px;
  line-height: 100px;
  /* line-height-step: 0px; */
}

.title {
  z-index: 9999;
  /* position:absolute; */
  /* margin-top: 10px; */
  /* padding-top: 2rem; */
  padding: 0;
  font-weight: 100;
  font-family: Gabriola, Times, serif;
  font-size: 8rem;
  /* border: 2px solid red; */
}

.title2 {
  margin: 0;
  padding: 0;
  font-weight: 100;
  font-family: Gabriola, Times, serif;
  font-size: 8rem;
}

.portfolio-title {
  font-size: 17.9px;
  font-family: Courier;
  letter-spacing: 3px;
  text-transform: uppercase;
  font-weight: 500;


}

.portfolio-title-email {
  font-size: 17.9px;
  cursor: pointer;
  font-family: Courier;
  letter-spacing: 3px;
  text-transform: uppercase;
  font-weight: 500;
  margin-top: 10px;
  display: inline-block;
  /* Convert to inline-block */
}

.portfolio-title-email::after {
  content: '';
  /* Create a pseudo-element */
  display: block;
  width: 100%;
  border-bottom: 1.5px solid;
  /* Add underline */
  margin-top: 10px;
  /* Adjust the gap between text and underline */
}

@media screen and (max-width: 600px) {
  .css-5jshji-MuiContainer-root {
    width: 100%;
    margin-left: auto;
    box-sizing: border-box;
    margin-right: auto;
    display: block;
    padding-left: 16px;
    padding-right: 16px;
    margin: 0px;
    padding: 0px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    -webkit-justify-content: start;
    justify-content: start;
    min-height: 61vh 451.4px !important;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .portfolio-title-email {
    font-size: 17.9px;
    cursor: pointer;
    font-family: Courier;
    color: white !important;
    letter-spacing: 3px;
    text-transform: uppercase;
    /* color: rgba(0, 114, 236, 0.87) !important; */
    font-weight: 500;
    margin-top: 10px;
    display: inline-block;
    /* Convert to inline-block */
  }

  .portfolio-title {
    font-size: 17.9px;
    font-family: Courier;
    letter-spacing: 3px;
    text-transform: uppercase;
    font-weight: 500;
    max-width: 50%;
    color: white;


  }

  .main-title-div-for-d {
    padding-top: 3rem;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    /* border: 2px solid red; */
  }

  .email-me-section {
    /* border: 1px solid; */
    margin-top: 15rem !important;
    background-color: rgb(119 119 119 / 80%) !important;
  }

  .box {
    margin: auto;
    position: absolute;
    z-index: 0;
    width: 150px;
    background-color: rgb(43 43 43 /17%) !important;
    height: 150px;
  }

  .title {
    z-index: 9999;
    color: white;
    padding: 0;
    font-weight: 100;
    font-family: Gabriola, Times, serif;
    font-size: 6rem;
    /* border: 2px solid red; */
  }

  .bio-img {
    margin-top: 0rem;
    max-height: 65vh !important;
    min-width: 40vh !important;
    margin: auto;
    min-height: auto;
    width: auto;

  }

  .img-fit-div-bio {
    margin: auto;
    display: flex;
    justify-content: center;
  }


}

.bio-img {
  margin-top: 0rem;
  max-height: 65vh;
  min-height: auto;
  width: auto;
  /* background: linear-gradient(to bottom, rgba(255,0,0,0) 0%,rgba(255,0,0,0.65) 100%); */
}

.bio-img::after {
  margin-top: 0rem;
  max-height: 65vh;
  min-height: auto;
  width: auto;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)) !important;
}

.main-title-div-for-d {
  padding-top: 3rem;
  height: 75%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  /* border: 2px solid red; */
}

.content-div {
height: 80vh;
  /* margin-top: -15rem; */
}

.img-fit-div {
  min-height: 100vh;
  border :2px solid red;
  object-fit: cover;
  /* border: 2px solid; */
}

.main-img {
  object-fit: cover;
  height: 100vh;

}

.light-title {
  font-size: 19.9px;
  font-family: Courier;
  letter-spacing: 3px;
  text-transform: uppercase;
  font-weight: 600;
  margin-top: 4rem;
  display: inline-block;
}

.bio-title {
  font-size: 60px;
  font-weight: 400;
  line-height: 40px;
}



.bio-paragraph {
  font-size: 30px;
  /* font-family: 'Courier New', Courier, monospace; */
}

.image-circle {
  background-color: #272727;
}

.image-circle-work {
  background-color: #272727;
  width: auto;
  max-width: 550px;
  /* margin: auto; */
}

.shadow-on-img {
  border-radius: 15px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

.box {
  margin: auto;
  position: absolute;
  z-index: 0;
  width: 150px;
  background-color: rgb(253, 243, 243);
  height: 150px;
}


@media screen and (max-width: 600px) {
  .css-1ld3b9g-MuiGrid-root {
    box-sizing: border-box;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    width: 100%;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    margin-top: -40px;
    width: calc(100% + 40px);
    margin-left: 0px !important;
  }
}